.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--BorderColor);
  padding: 32px;
  height: 107px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  color: var(--BasicBlack);
  font-weight: 500;
}

.nav-item:last-child .nav-link {
  font-weight: 800;
  color: var(--MyGreen);
}

.logo-title {
  font-size: 32px;
  font-family: var(--FontOpensans);
  color: var(--BasicBlack);
  font-weight: 700;
  letter-spacing: -1.28px;
}
.hamb-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
}
