@media screen and (max-width: 900px) {
  .navbar {
    display: none;
  }
  .hamb-btn {
    display: block;
  }
  .info {
    flex-direction: column-reverse;
    gap: 24px;
  }
  .info-content,
  .info-img {
    width: 100%;
  }
  .info-content {
    align-items: center;
    text-align: center;
    gap: 14px;
  }

  .btn {
    align-self: center;
  }

  .info-title {
    font-size: 32px;
    line-height: 40px;
  }

  .title-desc {
    gap: 24px;
  }

  .info-desc {
    font-size: 14px;
    line-height: 32px;
  }

  .section-3 {
    display: flex;
    flex-wrap: wrap;
    gap: 34px;
    padding-bottom: 40px;
    width: 100%;
    justify-content: center;
  }

  .sec3-card1,
  .sec3-card2,
  .sec3-card3 {
    width: 100%;
  }
  .sec4-part2 {
    margin: 0;
  }

  .section5-all,
  .section4-all {
    flex-direction: column-reverse;
    gap: 16px;
  }

  .section5-part1,
  .section5-part2 {
    width: 80%;
  }

  .section5-part1 {
    height: none;
  }

  .sec5-desc {
    padding-bottom: 40px;
  }
}
/*LAPTOP VERSION*/
@media screen and (max-width: 1200px) {
  .nav-list {
    gap: 22px;
  }
  .info-title {
    font-size: 50px;
    line-height: 40px;
  }

  .info-desc {
    font-size: 18px;
    line-height: 32px;
  }
}
